/* ESTRUCTURA */

:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
}

html {
  font-size: 12px;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 100%;
  font-family: "Poppins";
  color: #000;
}

.wrapper {
  min-height: calc(100% - 6rem);
  margin-bottom: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container.footer {
  flex-direction: row;
  justify-content: center;
  display: block;
}

#content {
  display: flex;
}

h1,
h2,
p {
  margin: 0;
}

/* HEADER */

#header {
  margin-top: 2rem;
  display: flex;
  margin-bottom: 9rem;
}

#header h1,
#header div {
  flex: 0 1 50%;
}

#header h1 {
  font-size: 3rem;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.62px;
}

#header h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#header p {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* CREW */

#crew {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  margin-bottom: 9rem;
}
#crew > div {
  display: flex;
  flex-direction: column;
}

#crew > :nth-child(even) {
  padding-top: 9rem;
}

#crew .image-work {
  display: grid;
  grid-template-columns: 1fr 2rem;
  margin-bottom: 1rem;
}

#crew .image-work img {
  width: calc(100% - 1rem);
}

#crew .image-work .work {
  top: 0;
  transform: rotate(90deg);
  font-size: 1rem;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  height: 0px;
  white-space: nowrap;
  width: 1rem;
  padding-bottom: 1rem;
}

#crew .name {
  font-size: 1.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* FOOTER */

#footer {
  font-size: 14px;
  font-weight: 500;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #a9a9a9;
  height: 4rem;
}

#footer a {
  font-weight: bold;
  color: #a9a9a9;
}

@media (width <= 600px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #content {
    flex-direction: column;
  }
  #header {
    flex-direction: column;
    margin-bottom: 6rem;
  }
  #header h1 {
    margin-bottom: 4rem;
  }
  #header p {
    font-size: 14px;
  }
  #crew {
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    margin-bottom: 5rem;
  }
  #crew > :nth-child(even) {
    padding-top: 4rem;
  }
  #crew .image-work {
    grid-template-columns: 1fr 1rem;
  }
  #crew .image-work img {
    width: calc(100% - 10px);
  }
  #crew .image-work .work {
    font-size: 10px;
    width: 10px;
    padding-bottom: 10px;
  }
  #crew .name {
    font-size: 14px;
  }
}
